* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(#ffffff, #c4fcff);
    font-family: "Dosis", sans-serif;

    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}

.title {
    text-align: center;
    color: #0020aa;
    font-size: clamp(2.5rem, 7vw, 4rem);
}

#upgrades {
    text-align: center;
}
#mainDiv {
    border: 0.125rem solid #ccc;
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.625rem;
    background-image: linear-gradient(#ffffff, #ffffff);
    font-size: clamp(1rem, 3vw, 2rem);
}

.boton {
    padding: 1rem 2rem; /* Increased padding */
    font-size: clamp(2.5rem, 7vw, 4rem); /* Increased and clamped font size */
    background-image: linear-gradient(#ffffff, #a5fbff);
    border: 0.3rem double #00ffbb;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0.625rem auto;
    cursor: pointer;
    font-family: Dosis;
    border-radius: 2.5rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.boton:hover {
    transform: scale(1.1);
    box-shadow: 0.1875rem 0.1875rem 0.4375rem rgba(0, 0, 0, 0.3);
}

.boton:active {
    transform: scale(0.9);
}

.buddyboton {
    padding: 0.625rem 1.25rem;
    background-image: linear-gradient(#ffffff, #a5ffa9);
    border: 0.3rem double #00ffbb;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: clamp(1.2rem, 3vw, 2rem);
    cursor: pointer;
    font-family: Dosis;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.nudgeboton {
    padding: 0.625rem 1.25rem;
    background-image: linear-gradient(#ffffff, #a5ffa9); /* Or a different color */
    border: 0.3rem double #00ffbb; /* Or a different border */
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: clamp(1.2rem, 3vw, 2rem);
    cursor: pointer;
    font-family: Dosis;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.nudgeboton:hover {
    transform: scale(1.1);
    box-shadow: 0.1875rem 0.1875rem 0.4375rem rgba(0, 0, 0, 0.3);
}

.nudgeboton:active {
    transform: scale(0.9);
}

.saveload {
    padding: 0.625rem 1.25rem;
    background-image: linear-gradient(#ffffff, #a5ffa9);
    border: 0.3rem double #00ffbb;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: clamp(1.5rem, 1vw, 2rem);
    cursor: pointer;
    font-family: Dosis;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.buddyboton:hover {
    transform: scale(1.1);
    box-shadow: 0.1875rem 0.1875rem 0.4375rem rgba(0, 0, 0, 0.3);
}

.buddyboton:active {
    transform: scale(0.9);
}

.skibidi {
    text-align: center;
    font-size: 2rem;
    color: indianred;
}

#cpsDisplay {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.625rem;
    color: #555;
}

#achievements {
    text-align: left;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-top: 20px;
}

.cantidadbuddy {
    font-size: 1.5rem;
    text-align: center;
}

.locked {
    color: gray;
}

.unlocked {
    color: green;
    font-weight: bold;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
